/* ブラウザがそれぞれ持っているCSSをリセットするため */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%; /* 横幅いっぱい */
  height: 550px; /* 高さ120px */
  background-color: black; /* 背景色red */
}
.header-top {
  width: 100%; /* 横幅いっぱい */
  height: 50px; /* 高さ100px */
  background-color: red; /* 背景色hotpink */
}
.header-bottom {
  width: 100%; /* 横幅いっぱい */
  height: 500px; /* 高さ100px */
  background-color: orange; /* 背景色pink */
}
.blog {
  width: 960px; /* 横幅600px */
  height: 1400px; /* 高さ600px */
  background-color: palegreen; /* 背景色limegreen */
  margin: 0 auto;
}
.sidebar {
  width: 500px; /* 横幅240px */
  height: 1400px; /* 高さ600px */
  background-color: limegreen; /* 背景色palegreen */
  margin-right: 230px;
  margin-left: 230px;
}
.footer {
  width: 100%; /* 横幅いっぱい */
  height: 100px; /* 高さ120px */
  background-color: blue; /* 背景色blue */
}